body {
    background-color: #f1f1f1;
}

div {
    display: block;
}

h1 {
    font-size: 80px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 48px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 700;
}


/*---------- message --------- */

.msg-container {
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 20px 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.msg.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

/*--------- header -------- */

#header {
    /* height: 100vh; */
    padding: 85px 0 70px 0px;
    background-color: #f4f5ff;
}

.navbar-header button {
    margin-right: 15px;
}


.custom-navbar {
    background-color: #f1f1f1;
}

.custom-ul {
    text-align: center;
}


.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.08) !important;
}

.custom-li {
    font-weight: 700;
    padding: 0px 25px;
}

.logo span {
    font-weight: 700;
}


.logo, .custom-highlight, .custom-li a:hover {
    color: #306844;
}

.product-category-title {
    border-left: 5px solid #306844;
    padding-left: 10px;
    margin-bottom: 20px;
}

.custom-card {
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.05);
    border: none;
}

.custom-footer {
    background-color: transparent;
    border: none;
}

.custom-user {
    text-decoration: none;
    color: gray;
}

.custom-user:hover {
    color: #306844;
    text-decoration:underline;
}

.custom-bg {
    height: 300px;
    background: #f1f1f1;
    border-radius: 12px;
}

.footer-details {
    color: #fff;
}

.footer-details  a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.text-end {
    border: 1px solid red;
}


@media (max-width: 768px) { 
    .hero-text {
        text-align: center;
    }

    .hero-text h4 {
        font-size: 18px;
        margin-top: 10px;
    }
    
    .hero-text h1 {
        font-size: 32px;
    }

    .menu  {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        margin: 0 auto;
    }

}


/* ================ LOGIN =================   */
.login {
    height: 100vh;
    padding-top: 120px;
}


.signup {
    /* padding-top: 120px; */
}

/*=================== DASHBOARD PAGE ============= */
#sidebar-menu {
    margin-top: 40px;
}

.logo-dash {
    margin-top: 20px;
    
    color: white;
}

#sidebar-menu li a {
    color: white;
    font-weight: 500;
}

#sidebar-menu li a:hover {
    color: #306844;
}

/*==================== SEARCH ================= */
#search-cont {
    margin-top: 120px;
}
